
/*=============================
         PROMOTION
===============================*/

.promotion_wrapper {
    padding: 30px 0px 130px 0px;

    & .promotion_animation {
        display: flex;
        padding: 80px 0px 30px 0px;
    
        & .left { 
            text-transform: uppercase;
            text-transform: uppercase;
            font-size: 150px;
            font-family: $font_1;;
            flex-grow: 1;
            color: $color_18;;
            line-height: 135px;
        }
        & .left span {
            display:block;
         }
        
        & .right {
            line-height: 135px;
        }
        
        & .right div{
            width: 280px;
            height: 280px;
            background-size: contain !important;
        }
    }
    
    & .enroll{

        &_wrapper {
            text-align: center;
        }
        
       &_title {
            font-family: $font_1;
            font-size: 26px;
            color: $color_19;
        }
        
       &_discl {
            font-weight: 300;
            font-size: 12px;
            width: 271px;
            margin: 0 auto;
            padding: 10px 0px;
        }
        
       &_input {
            width: 330px;
            margin: 0 auto;
            padding: 10px 0px;
        }
    }
}

